<div class="recherche">
  <form class="form-inline">
    <div class="form-group mr-3">
      <label for="rechercheparnom" class="mr-3">Recherche par nom </label>
      <input type="text" class="form-control" name="rechercheparnom" id="rechercheparnom" [(ngModel)]="nom">
    </div>
    <button type="submit" class="btn btn-primary" (click)="recherche()">Rechercher</button>
  </form>
  <div class="result" *ngIf="listMatricule.length">
      <h3>La liste des matricules des collègues de nom : {{ nom }}</h3>
      <ul>
        <li *ngFor="let matricule of listMatricule">{{ matricule }}</li>
      </ul>
  </div>
</div>
